@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --main-color: #0A66C2;
    --font-color: #FEFEFE;
    --border-color: #0A66C2;
    --dark-font-color: #292929;
    --search_bar_color: #D2D2D2;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: var(--font-color);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: var(--font-color);
    user-select: none;
    color: #3D3D3D;
}

/* Side nav */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 332px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: var(--main-color);

    position: fixed;
    /* fixes the side bar and prevents scrolling. Set the margin-left property of the screen by its right to 332px */
}

.top-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0px 0px 48px;
    gap: 8px;
    width: 332px;
    height: 136px;
}

.rest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 0px;
    gap: 8px;
    width: 332px;
    height: 880px;
}

.aside-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 332px;
    height: 248px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 32px;
    width: 332px;
    height: 56px;
    background: var(--font-color);
}

img {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.img.active {
    background-color: var(--font-color);
    color: #292929;
}

.svg {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

#home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 44px;
    height: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 32px;
    width: 332px;
    height: 56px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 80px;
    height: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.debtors {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 32px;
    width: 332px;
    height: 56px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#debtor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 44px;
    height: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 32px;
    width: 332px;
    height: 56px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

#summary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.aside-top a {
    width: 119px;
    height: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FEFEFE;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.aside-top a.active {
    background-color: var(--font-color);
    color: #292929;
}

.aside-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 332px;
    height: 120px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 32px;
    width: 332px;
    height: 56px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#help {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.log-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 32px;
    width: 332px;
    height: 56px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

#log-out {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.aside-bottom a {
    width: 119px;
    height: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FEFEFE;
    flex: none;
    order: 0;
    flex-grow: 0;
}

main {
    width: calc(100vw - 332px);
    padding: 80px 120px 148px 48px;
    overflow-y: auto;
    margin-left: 332px;
}

/* SEARCH BAR STARTS HERE */
/* Search bar */
/* Set the width of your main content to calc(100vw - 332px) to prevent overflow. Refer to my code for main tag above */
.search {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.small-screen {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 88%;
    height: 100%;
    padding: 16px;
    border: 2px solid var(--search_bar_color);
    border-radius: 8px;
    margin-right: 20px;
}

.search-text {
    height: 40px;
    width: 100%;
    margin-left: 19px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-text:focus {
    outline: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--white_color);
    cursor: pointer;
}

/* SEARCH BAR ENDS HERE */

/* Page content */

h1 {
    margin: 32px 0px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #667080;
}

.user-info {
    margin-left: 16px;
}

.user-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #242433;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #242433;
    margin: 0;
}

@media screen and (max-width: 576px) {

    /* START COPY HERE */

    body {
        display: flex;
        justify-content: center;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }


    .small-screen {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 56px;
        margin-top: -50px;
        margin-bottom: 5px;
    }

    .search-not {
        display: none;
    }

    .search-bar {
        width: 100%;
        margin: 0;
    }

    .showNav {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--white_color);
        cursor: pointer;
    }

    aside {
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.35);
        z-index: 1;
    }

    .aside-container {
        width: 60%;
    }

    .hideNav {
        width: 40%;
        display: flex;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0);
    }

    .hideNav button {
        background-color: rgba(230, 213, 213, 0.8);
        border: none;
        margin-top: 100px;
        cursor: pointer;
    }

    main {
        width: 95%;
        margin-left: 0px;
        /* Remove the margin left applied in your main content for the web view */
        padding: 48px 16px 10px 16px;
    }

    /* ADD THE ABOVE STYLES TO YOUR MAIN TAG FOR SCREEN SIZING */
    /*  STOP COPY HERE */
}