@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main_color: #0A66C2;
    --text_color: #292929;
    --white_color: #ffffff;
    --hover_color: #3380cc;
    --clicked_color: #074481;
    --disabled_color: #a8a8a8;
    --side_navbar_width: 332px;
    --search_bar_color: #D2D2D2;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white_color);
    color: var(--text_color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main_color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover_color);
}

/* SIDE NAVIGATION BAR STARTS HERE */
/* Side nav */
/* Copy this code to implement the side nav styling */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: var(--side_navbar_width); */
    /* background-color: red; */
    position: fixed;
}

.aside-container {
    height: 100vh;
    width: var(--side_navbar_width);
    min-width: var(--side_navbar_width);
    background-color: var(--main_color);
    color: var(--white_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* fixes the side bar and prevents scrolling. Set the margin-left property of the screen by its right to 332px */
}


.aside-top {
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.top-icon {
    width: 100%;
    margin-bottom: 56px;
    padding-left: 48px;
}

.top-links {
    display: flex;
    flex-direction: column;
}

.top-links a {
    text-decoration: none;
    color: var(--white_color);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 16px 48px;
}

.top-links a.active {
    background-color: var(--white_color);
    color: var(--text_color);
}

/* Changes the color of the active svg */
.top-links a.active svg {
    filter: invert(100%) sepia(100%) saturate(8%) hue-rotate(118deg) brightness(101%) contrast(104%);
}

.top-links a svg {
    margin-right: 34px;
}

.aside-bottom {
    width: 100%;
    padding-bottom: 48px;
}

.aside-bottom a {
    text-decoration: none;
    color: var(--white_color);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 48px;
}

.aside-bottom a svg {
    margin-right: 34px;
}

.hide {
    display: none;
}

/* SIDE NAVIGATION BAR ENDS HERE */


/* Edit page */
main {
    width: calc(100vw - 332px);
    padding: 80px 120px 148px 48px;
    overflow-y: auto;
    margin-left: 332px;
    /* notify if changes are made */
}

/* SEARCH BAR STARTS HERE */
/* Search bar */
/* Set the width of your main content to calc(100vw - 332px) to prevent overflow. Refer to my code for main tag above */
.search {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.small-screen {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 88%;
    height: 100%;
    padding: 16px;
    border: 2px solid var(--search_bar_color);
    border-radius: 8px;
    margin-right: 20px;
}

.search-text {
    height: 40px;
    width: 100%;
    margin-left: 19px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-text:focus {
    outline: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--white_color);
    cursor: pointer;
}

/* SEARCH BAR ENDS HERE */

.sch-direct {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    /* position: absolute; */
    width: 157px;
    height: 24px;
    left: 380px;
    top: 168px;
}

.direct {

    margin-top: 30px;
    font-size: 16px;
    font: poppins;
    line-height: 24px;
    font-weight: 400;
}

.direct a {
    text-decoration: none;
    color: #0A66C2;
}

h5 {
    width: 140px;
    height: 33px;
    /* left: 380px;
    top: 224px; */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #0C0C0C;
}
.sch-tittle {
    position: absolute;
    top: 120px;
}

.cover-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    /* position: absolute; */
    width: 940px;
    height: 1031px;
    left: 380px;
    top: 289px;
}

.caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 35px;
    width: 940px;
    height: 59px;
    background: #FEFEFE;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.headn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    height: 27px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.headn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    height: 27px;
    flex: none;
    order: 1;
    flex-grow: 1;

}

.headn3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    height: 22px;
    flex: none;
    order: 2;
    flex-grow: 1;

}

.tittle {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 35px;
    width: 940px;
    height: 54px;
    background: #FEFEFE;
    border-bottom: 0.5px solid #0C0C0C;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.sch-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    height: 22px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.local-govt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.view-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    height: 22px;
    flex: none;
    order: 2;
    flex-grow: 1;

}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 279.33px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
    margin-top: 20px;
}

.input2 {
    width: 123px;
    height: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A8A8A8;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    margin-top: 20px;

}

.input3 {
    width: 88px;
    height: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #0A66C2;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 20px;
}


.view a {
    text-decoration: none;
    color: #0A66C2;
}